@font-face {
  font-family: DotMatrix;
  src: url(fonts/DOTMBold.TTF);
}

*{
	font-family: DotMatrix;
}

h1{
	font-size:5.8vw
}

h1{
	font-style:italic
}

h2{
	line-height:2
}

h2{
	font-size:3.5vw
}

h3{
	line-height:1
	font-weight: bold
}

h4{
	line-height:1
}


ul{
    list-style-type: none;
}

a:link{text-decoration: none; color:#000; background-color:#f2f2f2}
a:visited{text-decoration: none; color:#000; background-color:#f2f2f2}
a:hover{background-color: #FFA1C4;}
.site-main{margin:20px;}

/* highlight song when hover */
span:hover {
background-color: #FFA1C4;
}

/* styling for list of songs */
dt,
dd {
  display: inline-block;
  width: calc(50% - 5rem);
  margin: 0;
}

dt {
  text-align: right;
}

dt::after {
  content: "\00a0";
}

/* vertically centering home menu */
.content {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 75vh;
}

.main {
  flex: 1;  
}

body {
  margin: 0;
}
