@font-face {
  font-family: DotMatrix;
  src: url(fonts/DOTMBold.TTF);
}

*{
	font-family: DotMatrix;
}

h1{
	font-size:6.2vw
}

h1{
	margin-block-end: 0.1em;
}

h1 a{
	font-style:italic
}

h2{
	font-size:23px
}

h3{
	line-height:1
	font-weight: bold
}

h4{
	line-height:1
}

p{
	font-size:17px;
}

.bullets{
	font-size: 3vw;
    text-align: center;
}

 @media screen{ 
	.bullets{
    	-webkit-text-size-adjust: 100%;
	}
 }

button {
	font-size:17px;
    color:#000000;
    background-color:#f2f2f2;
	border-radius: 10px;
}

a:link:not(.menuitem){
	text-decoration: none; 
	color:#000; 
	background-color:#f2f2f2;
	border-radius:5.5vh;
}

a:visited:not(.menuitem){
	text-decoration: none; 
	color:#000; 
	background-color:#f2f2f2
	border-radius:5.5vh;
}

a:hover{
	background-color: #FFA1C4;
}

.site-main{margin:20px;}

/* highlight song when hover */
span:not(#close):hover {
	background-color: #FFA1C4;
	border-radius: 10px;
}

/* styling for list of songs */

ul{
    list-style-type: none;
	line-height: 1.5;
}

dt,
dd {
	display: inline-block;
	margin: 0;
	text-size: 17px;
}

dd{
    width: calc(50% + 11rem);
    vertical-align: top;
}

dt {
	text-align: right;
	width: calc(50% - 13rem);
}

dt::after {
  content: "\00a0";
}

/* attempting to get mobile font sizes to look good */
@media screen and (max-device-width: 480px){
	body{
    	-webkit-text-size-adjust: 100%;
	}
	p{
		font-size: 27px;
	}
  	h2{
        font-size: 37px;
    }
	dt, dd {
		font-size: 27px;
	}
	fieldset {
		font-size: 27px;
	}
	button {
		font-size: 27px;
	}
	.mainmenu {
		font-size: 37px;
	}
	 .menuitem, .menuitem2, .bracket {
        font-size: 30px;
        display: inline
    }
}


/* formatting expanding menu text */
			h2{
				text-align: center;
				display: inline;
			}

    		.menu{
                text-align: center;
            }

			#hide {
  				display: inline-block;
				max-width: 0%;
				vertical-align: bottom;
				overflow: hidden;
				white-space: nowrap;
				transition: max-width 1s ease-in-out;
			}

			h2:hover #hide{
  				max-width: 100%;
  				background-color: #FFA1C4; 
 				border-top-right-radius:3.4vh;
    			border-bottom-right-radius:3.4vh;
				border-bottom-left-radius: 0vh;
    			border-top-left-radius: 0vh;
			}

			.expanding:hover .menuitem{
    			background-color: #FFA1C4;
    			border-top-left-radius:3.4vh;
    			border-bottom-left-radius:3.4vh;
    			border-bottom-right-radius: 0vh;
    			border-top-right-radius: 0vh;
			}

			h2{
				font-size:0;
			}

			h2 a{
				font-size:23px;
			}

			.menuitem{
        		text-decoration: none; 
    			background-color: #f2f2f2;
       			border-top-left-radius:3.4vh;
			    border-bottom-left-radius:3.4vh;
			    border-bottom-right-radius: 3.4vh;
			    border-top-right-radius: 3.4vh;
				color:#000; 
			    transition: border-top-right-radius cubic-bezier(0, 0.52, 1, 1) 6s, border-bottom-right-radius cubic-bezier(0, 0.52, 1, 1) 6s;
			}

			h2:hover .menuitem{
 				border-top-right-radius:0vh;
				border-bottom-right-radius:0vh;
				transition-duration: 1ms
			}

			#hide{
			  	background-color: #f2f2f2; 
			 	border-top-right-radius:3.4vh;
			    border-bottom-right-radius:3.4vh;
			}

			 p:not(.bracket){
                max-width: 900px;
                padding: 0 7px;
                margin-right: auto;
                margin-left: auto;
				line-height: 1.5;
            }

			.stuck{
				padding-right: 35px;
				padding-left: 20px;
			}

			
            @media screen and (min-device-width: 480px) {
                .bracket{
				display: inline;
				font-size: 21px;
			}
			
