@font-face {
  font-family: DotMatrix;
  src: url(fonts/DOTMBold.TTF);
}

*{
	font-family: DotMatrix;
}

h1{
	font-size:60px
}

h1{
	font-style:italic
}


h2{
	line-height:2
}

h3{
	line-height:1
	font-weight: bold
}

h4{
	line-height:1
}


ul{
    list-style-type: none;
}

dl>dt {
  float: left;
  width: 150px;
  overflow: hidden;
  clear: left;
  text-align: right;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: bold;
}

dl>dd {
  margin-left: 160px;
}

dl {
  display: grid;
  grid-gap: 4px 16px;
  grid-template-columns: max-content;
}
dt {
  font-weight: bold;
}
dd {
  margin: 0;
  grid-column-start: 2;
}
